<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Thuê Xe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    .rowbannerchinh{
        float: left;
        width: 100%;
        height: 600px;
        margin-bottom: 150px;
        position: relative;
    }

    .rowbannerchinh>img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .btn1{
        position: absolute;
        width: 100px;
        left: 20px;
        top: 47%;
    }

    .btn2{
        position: absolute;
        width: 100px;
        right: 20px;
        top: 47%;
    }

    .btn1 img,
    .btn2 img {
        width: 100%;
    }
</style>

<body>
    <!-- Page Preloder -->


    <!-- Humberger Begin -->


    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-3">
                    <div class="site-logo">
                        <a href="index.html"><strong>CarRental</strong></a>
                    </div>
                </div>

                <div class="col-9  text-right">

                    <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a>
                    </span>
                    <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                            <li><a href="listing.html" class="nav-link">Danh Sách Xe</a></li>
                            <li><a href="testimonials.html" class="nav-link">Các Đánh Giá</a></li>
                            <button type="dangnhap">login</button>
                            <button type="dangky">signin</button>
                            
                        </ul>
                    </nav>
                </div>


            </div>
        </div>

    </header>

    <div class="hero" style="background-image: url('images/hero_1_a.jpg');">
        <script>
    var images = [
        "img/1.jpg",
        "img/2.jpg",
        "img/3.jpg",
        "img/4.jpg",
        "img/5.jpg",
        "img/6.jpg"
    ];
    var num = 0;

    function next() {
        var slider = document.getElementById('slider');
        num++;
        if (num>=images.length) {
            num = 0;
        }
        slider.src = images[num];
    }
    function prev() {
        var slider = document.getElementById('slider');
        num--;
        if (num<0) {
            num = images.length -1;
        }
        slider.src = images[num];
    }
</script>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10">

                    <div class="row mb-5">
                        <div class="col-lg-7 intro">
                            <h1><strong>Rent a car</strong> is within your finger tips.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="images/product/details/5.jpg" alt="">
                        </div>
                        <div class="tab-pane" id="pic-2"><img src="images/product/details/1.jpg">
                        </div>
                        <div class="tab-pane" id="pic-3"><img src="images/product/details/2.jpg">
                        </div>
                        <div class="tab-pane" id="pic-4"><img src="images/product/details/3.jpg">
                        </div>
                        <div class="tab-pane" id="pic-5"><img src="images/product/details/4.jpg">
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active">
                                <a data-target="#pic-1" data-toggle="tab"><img src="images/product/details/5.jpg"></a>
                            </li>
                            <li>
                                <a data-target="#pic-2" data-toggle="tab"><img src="images/product/details/1.jpg"></a>
                            </li>
                            <li>
                                <a data-target="#pic-3" data-toggle="tab"><img src="images/product/details/2.jpg"></a>
                            </li>
                            <li>
                                <a data-target="#pic-4" data-toggle="tab"><img src="images/product/details/3.jpg"></a>
                            </li>
                            <li>
                                <a data-target="#pic-5" data-toggle="tab"><img src="images/product/details/4.jpg"></a>
                            </li>
                        </ul>
                        <div class="thongtin" style="width: 100%; background-color: darkkhaki; min-height: 500px; margin-top: 30px;">
                            <table>
                                <p>ĐẶC ĐIỂM</p>
                                <h6>Số ghế: 6</h6>
                                <span>Truyền động: Số tự động</span>
                                
                                <h5>Nhiên liệu: Xăng</h5>
                                Mức tiêu thụ nhiêu liệu: 5.4 lít/100km
                                <strong></strong>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title" style="color: black; font-weight: bolder;">MITSUBISHI XPANDER 2019</h3>
                                <div class="rating">
                                    <div class="stars"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                                    </div> <span class="review-no">123 đánh giá</span>
                                </div>
                                <p class="product-description"></p>Mitsubishi Motors Việt Nam (MMV) và các Nhà phân phối (NPP) ủy quyền của Mitsubishi trên toàn quốc sẵn sàng mang tới cho quý khách hàng những chương trình trưng bày và trải nghiệm lý thú với các mẫu xe nổi bật như Xpander, [...]</p>
                                <h4 class="price">Giá Thuê: 2.000.000đ/ngày</h4>
                                </p>
                    <div class="form-thuexe" style="width:100%; border: 1px black solid ; height: 900px; border-radius: 20px 20px 20px; box-shadow: slategray 5px 10px 10px 5px;">
                        <form>
                            <center><div class="form-group">
                                <h1 style="position: absolute; margin-left: 130px; margin-top: -35px; color: green; font-weight: bold; text-shadow: gray 10px 5px 10px; z-index: 999;">THÔNG TIN</h1>
                                <br>
                              <label for="exampleInputEmail1"><span class="d-block text-black" style="font-size: 18pt; margin-right: 200px;">Họ tên khách Hàng</span></label>
                              <input type="hoten" class="form-control" id="hoten" aria-describedby="hoten" style="width:85%" placeholder="Họ và Tên">
                              <small id="hoten" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1"><span class="d-block text-black" style="font-size: 18pt; margin-right: 200px;">Địa chỉ khách Hàng</span></label>
                              <input type="diachi" class="form-control" id="diachi"style="width:85% " placeholder="Địa Chỉ">
                            </div>
                            <div class="form-group">
                                <label for="sdt"><span class="d-block text-black" style="font-size: 18pt; margin-right: 250px;">Số Điện Thoại</span></label>
                                <input type="sdt" class="form-control" id="sdt"style="width:85%" placeholder="Số Điện Thoại">
                              </div>
                            <div class="form-group">
                               <label for="gmail"><span class="d-block text-black" style="font-size: 18pt; margin-right: 200px;">Gmail Khách Hàng</span></label>
                               <input type="gmail" class="form-control" id="gmail"style="width:85%" placeholder="Gmail">
                            </div>
                              <span class="d-block text-black" style="font-size: 18pt; margin-right: 200px;">Thời Gian bắt đầu:</span>
                              <div class="form-control-wrap">
                                <input type="text" id="cf-3" placeholder="Pick up" class="form-control datepicker px-3" style="width:85%">
                                <span class="icon icon-date_range"></span>
                              </div>
                            <span class="d-block text-black"style="font-size: 18pt; margin-right: 200px;">Thời Gian Kết Thúc:</span></li>
                            <div class="form-control-wrap">
                              <input type="text" id="cf-4" placeholder="Drop off" class="form-control datepicker px-3" style="width:85%">
                              <span class="icon icon-date_range"></span>
                            </div>
                            <br>    
                            <div class="action">
                                <a href="contact.html" target="_blank"> <button class="add-to-cart btn btn-default" type="button">Đặt Xe NGAY</button> </a>
                                <a href="http://hocwebgiare.com/" target="_blank"> <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button> </a>
                            </div>  
                            </center>
                          </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Chính sách</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">Chính sách và quy định</a></li>
                                <li><a href="#">Quy chế hoạt động</a></li>
                                <li><a href="#">Quy chế hoạt động</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Giải quyết tranh chấp</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Tìm hiểu thêm</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">Hướng dẫn chung</a></li>
                                <li><a href="#">Hướng dẫn đặt xe</a></li>
                                <li><a href="#">Hướng dẫn dành cho chủ xe</a></li>
                                <li><a href="#">Hướng dẫn thanh toán</a></li>
                                <li><a href="#">Hỏi và trả lời</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="footer-heading mb-4">Đối tác</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">Đăng ký chủ xe</a></li>
                                <li><a href="#">Đăng ký đại lý Mioto</a></li>
                                <li><a href="#">Đăng ký thuê xe doanh nghiệp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15675.210986536726!2d106.6085871697754!3d10.826402200000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1605169971153!5m2!1svi!2s" width="100%" height="660" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script src="js/jquery-1.11.1.min.js"></script>


</body>

</html>