.row {
    width: 100%;
    float: left;
    background-color: black;
}

.boxcenter {
    width: 25%;
    float: left;
}

.right {
    width: 65%;
    float: left;
}

.right a h4 {
    margin-left: 3%;
    margin-top: 2%;
    color: white;
}

.left {
    width: 10%;
    float: left;
}

.box1 {
    background-color: #333333;
    min-height: 750px;
}

.box {
    background-color: #333333;
    min-height: 750px;
}

.menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin: 0 20px;
    color: #DDDDDD;
}

.head {
    width: 100%;
    float: left;
}

.head h1 {
    margin-left: 40%;
    position: relative;
    margin-top: 14%;
    margin-bottom: 10%;
    color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    position: absolute;
    border-radius: 50%;
    height: 60px;
    margin: 40px;
    padding: 5px;
    width: 60px;
    background-color: white;
}